.menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 10px;
  cursor: pointer;

  &__items {
    display: flex;
    padding: 9px 38px 9px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: -183px;
    top: 0;
    opacity: 0;
    margin-top: 79px;
    gap: 30px;
    border-radius: 0px 10px 10px 0px;
    background: url('../../../assets/images/menu/PopupMenu.png'), lightgray 50% / cover no-repeat;
    transition: .5s;

    a {
      text-align: start;
    }

    p {
      color: white;
    }

    &_active {
      left: 0px;
      opacity: 1;
      margin-top: 80px;
    }
  }
}

.popupMenu {
  width: 414px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
