.hookah {
  background: url("../../assets/images/hookah/hookah-still.png");
  background-size: cover;
  position: relative;
  padding: 23px 15px 15px 15px;
  flex: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    background: url("../../assets/images/hookah/hookah.gif") center;
    background-size: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

    p {
      color: #FFF;
      font-family: Prosto One;
      font-size: 30px;
      font-weight: 400;
    }

    &_title {
      display: block;
      position: relative;
      z-index: 1;
      color: #FFF;
      font-size: 30px;
      text-transform: capitalize;
      text-align: center;
    }

    &_content {
      max-width: 416px;
      width: 100%;
      min-height: 77px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      p {
        color: #FFF;
        font-size: 30px;
      }
    }
  }
}


//media

@media screen and (max-width: 370px) {
  .hookah__container p {
    font-size: 25px;
  }
}
