.barList {
  padding: 109px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {

    p {
      color: #1D1D1D;
      font-family: Prosto One;
      font-size: 30px;
      text-transform: capitalize;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    transition: all .1s ease-out;
  }

  &__animation {
    margin-top: 13px;

    img {
      border-radius: 48px;
      max-width: 327px;
    }
  }
}

.cardsDop {
  flex-direction: row-reverse
}


//media

@media screen and (max-width: 400px) {

.barList__cards {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

  .barList__animation img {
    border-radius: 48px;
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .barList__animation img {
    width: 300px;
  }

}


