.card__container_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  transition: all .1s ease-out;

  .card {
    width: 183px;
    min-height: 331px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    transition: flex 1s ease-out;

    &__active {
      width: 100%;
      padding: 0 10px;

    }

    &__desc {
      max-width: 167px;
      width: 100%;

      &_name {
        color: #FFF;
        font-family: Prosto One;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        max-width: 159px;
        width: 100%;
        min-height: 25.6px;
        margin-top: 6px;
        line-height: 128%;
      }

      &_price {
        display: flex;
        justify-content: space-between;
        max-width: 175px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 25px;


        p:first-child {
          font-size: 15px;
          margin-left: 8px;
        }

        p {
          color: #FFF;
          font-family: Prosto One;
          font-size: 14px;
        }
      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 167px;
      width: 100%;
      min-height: 197.204px;
      border-radius: 15px;
      background: #D9D9D9;
      margin-top: 8px;
      transition: 1.5s;
      cursor: pointer;

      img {
        width: 150px;
      }

      &_active {
        max-width: 100%;
        width: 100%;
        min-height: 279px;

        img {
          scale: 1.7;
          height: auto;
          transition: 1.5s;
        }
      }
    }

    &__desc_active {
      width: 100%;
      margin-left: 10px;

      &_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        p {
          color: #FFF;
          font-size: 20px;
        }
      }

      &_compound {
        color: #FFF;
        font-size: 13px;
        margin-top: 10px;
        font-family: system-ui;
      }

      &_price {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 25px 0 6px 0;
        height: 35px;

        p {
          color: #FFF;
          font-size: 20px;
        }
      }
    }
  }
}


//media

@media screen and (max-width: 400px) {
  .card__active {
    width: 95%;
    padding: 0 10px;
  }

  .card__container_items {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .card__desc_active_title p {
    font-size: 17px;
  }

  .basketBtnActive button p {
    font-size: 13px !important;
  }

  .card__desc_active_price p {
    font-size: 17px;
  }
}
