.card {
  background: url("./img/side.png") center no-repeat;
  background-position: top;
  padding: 0 5px;
  background-size: cover;
  margin-top: -7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
