.hookahElement {
  width: 100%;
  position: relative;
  z-index: 1;

  /*.classic {
    background: url("../../assets/images/hookah/modern-hookah1.png") center no-repeat;
    margin-top: 133px;
  }

  .premium {
    background: url("../../assets/images/hookah/modern-hookah2.png") center no-repeat;
    margin-top: 157px;
  }

  .elite {
    background: url("../../assets/images/hookah/pexels-cachimberos3.png") center no-repeat;
    margin-top: 157px;
  }*/

  &__subtitle {
    width: 114%;
    height: 77px;
    background: url("../../assets/images/hookah/hookah11.gif") center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -26px;
    margin-top: 57px;

    p {
      text-transform: uppercase;
    }
  }

  &__block {
    max-width: 364px;
    width: 100%;
    min-height: 541px;
    background: url("../../assets/images/hookah/modern-hookah1.png") center no-repeat;
    border: 2px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 154px;

    &_desc {
      margin-left: 12px;

      &_subtitle {
        margin-top: 2px;
        margin-bottom: 26px;
      }

      &_item {
        display: flex;
        align-items: center;
        margin-top: 14px;
        margin-left: 12px;

        p {
          color: #FFF;
          font-size: 25px;
          margin-left: 17px;

          &:hover {
            color: #FF00A2;
          }
        }

        img {
          height: 14px;
          width: 59px;
          margin-bottom: 11px;
        }
      }

      &_linck {
        margin-top: 36px;
      }
    }

    &_price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 44px;
      max-width: 289px;
      margin-left: 19px;

      button {
        width: 87px;
        height: 44.85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10.553px;
        background: #A600FF;
        box-shadow: 0 3.95722px 13.19073px 0 rgba(0, 0, 0, 0.15);
        border: none;
        margin-bottom: 5px;
        margin-left: 40px;
      }

      p {
        margin-top: 13px;
      }
    }
  }
}


//media

@media screen and (max-width: 400px) {
  .hookahElement {
    .hookahElement__block {
      background-size: cover;
    }
  }
}

@media screen and (max-width: 370px) {
  .hookahElement__block_price button {
    margin-left: 20px;
  }

  .hookahElement__block_desc_item p {
    font-size: 18px;
  }

  .hookahElement__block {
    min-height: 480px;
  }
}

@media screen and (max-width: 380px) {
  .hookahElement__subtitle {
    width: 116%;
  }
}

@media screen and (max-width: 380px) {
  .hookahElement__subtitle {
    width: 115%;
  }
}

@media screen and (max-width: 350px) {
  .hookahElement__subtitle {
    width: 117%;
  }
}

@media screen and (max-width: 330px) {
  .hookahElement__subtitle {
    width: 119%;
  }
}
