.header {
  max-width: 414px;
  width: 100%;
  min-height: 88px;
  background: url(../../../assets/images/header/background.png) center no-repeat;
  position: fixed;
  z-index: 99;

  &__container {
    display: flex;
    align-items: center;
    padding: 0 25px;
    margin-top: 5px;

    &_link {
      height: 76px;
      margin: -3px 0 0 76px;
      max-width: 168px;
      width: 100%;
    }

    &_icons {
      display: flex;
      justify-content: end;
      width: 100%;

      &_linkReg {
        width: 38px;
        height: 31px;
      }

      &_basket {
        margin-top: 16px;

        &_linkBasket {
          display: flex;
          position: relative;
          right: 3px;
          top: 7px;
          width: 35px;
        }

        &_desc {
          width: 17px;
          height: 17px;
          margin-top: 8px;
          margin-left: -13px;
          background: #0e3f16;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2.5px solid #FFF;
          border-radius: 50%;
          color: #FFF;
          font-family: sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  }
}


//media

@media screen and (max-width: 412px) {
  .header__container {
    justify-content: space-between;
  }

  .header__container_link {
    margin: -3px 0 0 0;
  }

  .header__container_icons_linkBasket {
    right: 5px;
  }

  .header__container_icons {
    width: 35px;
  }
}

@media screen and (max-width: 370px) {
  .header__container {
  }

  .header__container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 340px) {
  .header__container_linkModal {
    margin: -3px 0 0 -35px;
  }
}
