.stock {
  background: url("../../assets/images/home/background.png");
  background-size: cover;
  padding: 100px 15px 25px 15px;
  height: 896px;

  h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
  }
}
